.header-image {
    background: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
    background-size:  cover !important;
    background-position: center center !important;
    background-blend-mode: soft-light;
}

#aboutHero {
    background-color: rgb(32, 46, 49);
}

.guideHero {
    background-color: rgb(32, 46, 49) !;

}

#landingTitle {
    font-size: 5rem;
    font-weight: 600 !important;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    color: rgb(32, 46, 49);
}

#landingSubtitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;

}

#landingButton {
    margin: auto;
    align-self: center;
    color: antiquewhite;
    background-color: rgb(158, 90, 0);
}


#aboutTitle {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif; 
    color: rgb(158, 90, 0);
    vertical-align: 50vh;
}

#aboutParagraph {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    vertical-align: center;
}

.card, .card-header-title {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.content {
    color: rgb(168, 168, 168);
}

.aboutIcon {
    font-size: 60px !important;
    color: rgb(158, 90, 0);
}


#reviewstTitle {
    color: white;
    font-size: 4rem;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 5px;   

}

#reviewText {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif; 

}


.footer {
    background-color:rgb(32, 46, 49);
    height: 200px;
    width: 100%;
}

.footerIcons {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    
}


address {
    font-style: normal;
    color: rgb(168, 168, 168);
}

#emailFooter {
    color: white;
}

#emailFooter:hover {
    opacity: 50%;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  .hoverCards {
    margin:20px;
    padding: 3px;
    outline:2px solid #DDD;
    border:#a1a1a1;
    float:left;
      -webkit-transition: margin 0.5s ease-out;
      -moz-transition: margin 0.5s ease-out;
      -o-transition: margin 0.5s ease-out;
  }
  
  .hoverCards:hover {
      cursor:pointer;
      margin-top: 5px;
  }
