.header-image {
    background: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size:  cover !important;
    background-position: center center !important;
}

.header-image-two {
    background: url("https://images.unsplash.com/photo-1503832649500-41b247616164?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2088&q=80");
    background-size:  cover !important;
    background-position: center center !important;

}

#landingTitle {
    font-size: 5rem;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif; 
}

#landingSubTitle {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif; 

}

#howToTitle {
    font-size: 5rem;
    font-weight: 700 !important;
    text-align: right;
    font-family: 'Montserrat', sans-serif; 
}

#craftSubTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 

}

#aboutTitle {
    color: black;
    font-size: 4rem;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 5px;   

}

#reviewstTitle {
    color: white;
    font-size: 4rem;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 5px;   

}

#reviewText {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif; 

}

hr {
    background-color: rgb(43, 43, 43);
    width: 35%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 50px 50px 50px;
}



.footer {
    background-color: black;
    height: 200px;
    width: 100%;
}

.footerIcons {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    
}


address {
    font-style: normal;
    color: rgb(168, 168, 168);
}

#emailFooter {
    color: white;
}

#emailFooter:hover {
    opacity: 50%;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  .hoverCards {
    margin:20px;
    padding: 3px;
    outline:2px solid #DDD;
    border:#a1a1a1;
    float:left;
      -webkit-transition: margin 0.5s ease-out;
      -moz-transition: margin 0.5s ease-out;
      -o-transition: margin 0.5s ease-out;
  }
  
  .hoverCards:hover {
      cursor:pointer;
      margin-top: 5px;
  }